/*
	Astral 1.0 by HTML5 Up!
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");
@charset 'UTF-8';

@font-face
{
    font-family: 'LigatureSymbols';
    src: url('fonts/LigatureSymbols-2.11.eot');
    src: url('fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('fonts/LigatureSymbols-2.11.woff') format('woff'),
         url('fonts/LigatureSymbols-2.11.ttf') format('truetype'),
         url('fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	*
	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	body
	{
		/*
			Fallback for browsers that don't support pseudo elements.
		*/

		background: url('images/bg.jpg');
	}
	

		body:before
		{
			content: '';
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;

			/*
				Default background is a weird gradient so I've set it to stretch to
				100% in both directions. If you replace it with a photo or something,
				set background-size to "cover".
			*/

			background: url('images/bg.jpg');
			background-size: 100% 100%;
		}

		/*
			The pseudo element below applies a noise pattern to the background image. It's
			meant to help mask blurriness, but you can remove it if you don't like it.
		*/

		body:after
		{
			content: '';
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('images/overlay.png');
			z-index: -1;
		}
	
	body, input, textarea
	{
		font-family: 'Kurale', serif;
		font-weight: 300;
		color: #777;
	}
    
    a.disabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    color: #999; /* цвет текста для нективной ссылки */
}
	
	strong, b
	{
		font-weight: 400;
		color: #363636;
	}

	h1, h2, h4,h5, h6
	{
		font-weight: 400;
		color: #363636;
	}
	
	blockquote
	{
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	em, i
	{
		font-style: italic;
	}
	
	hr
	{
		border: 0;
		border-top: solid 1px #ddd;
		padding: 1.5em 0 0 0;
		margin: 1.75em 0 0 0;
	}
	
	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	table
	{
		width: 100%;
	}
	
	table.style1
	{
		width: 100%;
	}
	
		table.style1 tbody tr:nth-child(2n+2)
		{
			background: #f4f4f4;
		}
		
		table.style1 td
		{
			padding: 0.5em 1em 0.5em 1em;
		}
		
		table.style1 th
		{
			text-align: left;
			font-weight: 400;
			padding: 0.5em 1em 0.5em 1em;
		}
	
		table.style1 thead
		{
			background: #222222;
			color: #fff;
		}
		
		table.style1 tfoot
		{
			background: #eee;
		}
		
		table.style1 tbody
		{
		}

	br.clear
	{
		clear: both;
	}
	
	ul, ol, dl, table, blockquote, form
	{
		margin-bottom: 2em;
	}
	
	section,
	article
	{
		margin-bottom: 3em;
	}
	
	section > :last-child,
	article > :last-child
	{
		margin-bottom: 0;
	}
	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	.row > * {
		float: left
	}
	
	section:last-child,
	article:last-child
	{
		margin-bottom: 0;
	}

	.image
	{
		display: inline-block;
	}
	
		.image img
		{
			display: block;
			border-radius: 0.35em;
			height: 280px;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}
		
	.button
	{
		display: inline-block;
		background-color: #222222;
		color: #fff;
		border: 0;
		cursor: pointer;
		outline: 0;
		-moz-transition: background-color .25s ease-in-out;
		-webkit-transition: background-color .25s ease-in-out;
		-o-transition: background-color .25s ease-in-out;
		-ms-transition: background-color .25s ease-in-out;
		transition: background-color .25s ease-in-out;
	}

		.button:hover
		{
			background-color: #333333;
		}
		
		.button:active
		{
			background-color: #444444;
		}
	
		.button-alt
		{
			background-color: #777777;
		}

			.button-alt:hover
			{
				background-color: #888888;
			}
			
			.button-alt:active
			{
				background-color: #999999;
			}
	
		.button-small
		{
		}
		
		.button-big
		{
		}
		
		.button-huge
		{
		}

	ul.style1
	{
		list-style: disc;
		padding-left: 1em;
	}
	
		ul.style1 li
		{
			padding-left: 0.5em;
		}
	
	ul.links
	{
		font-size: 2em;
	}
	
		ul.links li
		{
			display: inline-block;
		}

			ul.links li:
			{
				display: inline;
				content: '\2022';
				opacity: 0.5;
			}
			
	.image {
		border-radius: 0.35em;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image:before {
			-moz-transition: opacity 0.2s ease-in-out;
			-webkit-transition: opacity 0.2s ease-in-out;
			-ms-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
			background: url("images/overlay.png");
			border-radius: 0.35em;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			opacity: 0.5;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.image.thumb {
			text-align: center;
		}

			.image.thumb:after {
				-moz-transition: opacity 0.2s ease-in-out;
				-webkit-transition: opacity 0.2s ease-in-out;
				-ms-transition: opacity 0.2s ease-in-out;
				transition: opacity 0.2s ease-in-out;
				border-radius: 0.35em;
				border: solid 3px rgba(255, 255, 255, 0.5);
				color: #fff;
				content: 'Просмотреть';
				display: inline-block;
				font-size: 0.8em;
				font-weight: 400;
				left: 50%;
				line-height: 2.25em;
				margin: -1.25em 0 0 -4.5em;
				opacity: 0;
				padding: 0 1.5em;
				position: absolute;
				text-align: center;
				text-decoration: none;
				top: 50%;
				white-space: nowrap;
			}
			
			.img {
				height: 390px;
				text-align:center;
				width: 100%;
                overflow: hidden;
                text-align: center;
                border-radius: 0.35em;
}

			.image.thumb:hover:after {
				opacity: 1.0;
			}

			.image.thumb:hover:before {
				opacity: 1.0;
			}
		
			ul.links li:first-child:before
			{
				display: none;
			}
		
	ol.style1
	{
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol.style1 li
		{
			padding-left: 0.25em;
		}

	.byline
	{
		display: block;
		color: #aaa;
	}
	
	.icon
	{
		text-decoration: none;
	}

		.icon:before
		{
			text-decoration: none;
			padding-right: 0.25em;
			font-family: 'LigatureSymbols';
			-webkit-text-rendering: optimizeLegibility;
			-moz-text-rendering: optimizeLegibility;
			-ms-text-rendering: optimizeLegibility;
			-o-text-rendering: optimizeLegibility;
			text-rendering: optimizeLegibility;
			-webkit-font-smoothing: antialiased;
			-moz-font-smoothing: antialiased;
			-ms-font-smoothing: antialiased;
			-o-font-smoothing: antialiased;
			font-smoothing: antialiased;
			-webkit-font-feature-settings: "liga" 1, "dlig" 1;
			-moz-font-feature-settings: "liga=1, dlig=1";
			-ms-font-feature-settings: "liga" 1, "dlig" 1;
			-o-font-feature-settings: "liga" 1, "dlig" 1;
			font-feature-settings: "liga" 1, "dlig" 1;
		}
	
	#selection > ul > li > ul {
		display: none;
	}

	#selection ul {
		margin: 0;
		text-align: center;
		border-top: solid 1px rgba(0, 0, 0, 0.25);
		border-bottom: solid 1px rgba(0, 0, 0, 0.25);

	}

	#selection li {
		box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
		padding: 0.5em 0 0.5em 0;
		width: 145px;
		display: inline-block;
	}

		#selection li:first-child {
			border: 0;
			box-shadow: none;
			padding-top: 0;
		}

		#selection li:last-child {
			padding-bottom: 0;
		}

		#selection li a {
			display: block;
			padding: 0.4em 1em 0.4em 1em;
			text-decoration: none;
			border-radius: 0.4em;
			outline: 0;
			-moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
			-webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
			-ms-transition: background-color .25s ease-in-out, color .25s ease-in-out;
			transition: background-color .25s ease-in-out, color .25s ease-in-out;
		}

		#selection li.current a {
			background-color: #272E39 !important;
			background-color: rgba(0, 0, 0, 0.15) !important;
			box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
			font-weight: 700;
			color: #fff;
		}

		#selection li:hover a {
			background-color: rgba(255, 255, 255, 0.1);
			color: #fff;
		}
		
		/* Pagination */

	.pagination .pages {
		display: inline-block;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 400;
	}

		.pagination .pages span {
			display: inline-block;
			text-align: center;
			margin: 0 0.4em 0 0;
		}

		.pagination .pages a {
			cursor: pointer;
			display: inline-block;
			text-align: center;
			text-decoration: none;
			color: inherit;
			background-color: #e8e8e8;
			background-image: url("images/bg02.png");
			color: #565656;
			margin: 0 0.4em 0 0;
			border-radius: 0.4em;
			-moz-transition: background-color .25s ease-in-out;
			-webkit-transition: background-color .25s ease-in-out;
			-ms-transition: background-color .25s ease-in-out;
			transition: background-color .25s ease-in-out;
			box-shadow: inset 0 0.075em 0.25em 0 rgba(0, 0, 0, 0.1);
		}

			.pagination .pages a:hover {
				background-color: #dadada;
			}

			.pagination .pages a.active {
				background-color: #364050;
				color: #fff;
				box-shadow: none;
				text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
			}
			
		.pagination {
			padding: 0.5em 0 0 0;
			height: 60px;
			text-align: center;
            width: 100%;
		}

		.pagination .previous {
			margin-right: 0.6em;
		}

		.pagination .next {
			margin-left: 0.2em;
		}

		.pagination .pages a {
			width: 1.75em;
			height: 1.75em;
			line-height: 1.75em;
		}

		.pagination .button {
			height: 1.75em;
			padding-top: 0;
			padding-bottom: 0;
			line-height: 1.75em;
			cursor: pointer;
			background-color: #c94663;
			background-image: url("images/bg01.png");
			border-radius: 0.4em;
			text-align: center;
			box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
			color: #fff;
			font-family: 'Open Sans Condensed', sans-serif;
			font-weight: 700;
			text-decoration: none;
			-moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
			-webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
			-ms-transition: background-color .25s ease-in-out, color .25s ease-in-out;
			transition: background-color .25s ease-in-out, color .25s ease-in-out;
			text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5);
		}
		
		  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

	/*
		These are powered by the kickass Ligature Symbols font by
		Kazuyuki Motoyama (@kudakurage). I've already added styles for
		a pretty good set of icons, but the font actually has WAYYYY
		more (including icons for many other accounts and services).
		To add them to Astral, go here to look up the unicode for
		the icon you want to use:
		
		http://kudakurage.com/ligature_symbols/
	
		Then simply add the CSS for it in this format:
		
		.icon-(name):before		{ content: '(unicode)'; }
	*/
	
	.icon-album:before			{ content: '\E002'; }
	.icon-book:before			{ content: '\E020'; }
	.icon-comment:before		{ content: '\E034'; }
	.icon-file:before			{ content: '\E048'; }
	.icon-folder:before			{ content: '\E04c'; }
	.icon-info:before			{ content: '\E075'; }
	.icon-mail:before			{ content: '\E08a'; }
	.icon-notify:before			{ content: '\E097'; }
	.icon-right:before			{ content: '\E112'; }
	.icon-share:before			{ content: '\E118'; }
	.icon-tilemenu:before		{ content: '\E12a'; }
	.icon-user:before			{ content: '\E137'; }
	
	.icon-dribbble:before		{ content: '\E03f'; }
	.icon-facebook:before		{ content: '\E047'; }
	.icon-google:before			{ content: '\E05a'; }
	.icon-linkedin:before		{ content: '\E083'; }
	.icon-tumblr:before			{ content: '\E03f'; }
	.icon-twitter:before		{ content: '\E12f'; }
		
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/
	
	#nav
	{
	}
	
		#nav a
		{
			position: relative;
			display: inline-block;
			color: #fff;
			width: 1em;
			height: 1em;
			line-height: 0.9em;
		}

			#nav a.icon:before
			{
				padding-right: 0;
			}
		
/*********************************************************************************/
/* Panels                                                                        */
/*********************************************************************************/

	#main
	{
		position: relative;
		overflow: hidden;
	}

	.panel
	{
		position: relative;
	}

	/* Me */
	
		#me
		{
		}
		
			#me .pic
			{
				position: relative;
				display: block;
			}

				/*
					The pseudo element below applies a noise pattern to the "me" image. It's
					meant to help mask blurriness, but you can remove it if you don't like it.
				*/
			
				#me .pic:before
				{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					background: url('images/overlay.png');
					width: 100%;
					height: 100%;
					z-index: 1;
				}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		color: #ccc;
		color: rgba(255,255,255,0.45);
	}
	
		#footer a
		{
			color: #ddd;
			color: rgba(255,255,255,0.65);
			-moz-transition: color .25s ease-in-out;
			-webkit-transition: color .25s ease-in-out;
			-o-transition: color .25s ease-in-out;
			-ms-transition: color .25s ease-in-out;
			transition: color .25s ease-in-out;
		}
		
		#footer a:hover
		{
			color: rgba(255,255,255,1.0);
		}

		
		
		
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
	margin-top: 3px;
	float: right;
    background-image: url("images/bg02.png");
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
  margin-top: 7px;
  margin-right: 4px;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  width: 190px;
  background-color: #e8e8e8;
  background-image: url("images/bg02.png");
}

select.input-sm {
  height: 30px;
  line-height: 30px;
}



.selected {
	margin: 5px auto;
	padding: 10px;
	width: 600px;
}

#foto {
    display: flex;
    width: 800px;
}

.poptrox-popup {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background: #fff;
    box-shadow: 0 0.1em 0.15em 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
    padding-bottom: 3em;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    cursor: auto;
    border-radius: 0.35em;
}

.poptrox-popup .loader {
    text-decoration: none;
    -moz-animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    -ms-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    font-size: 1.5em;
    height: 1em;
    left: 50%;
    line-height: 1em;
    margin: -0.5em 0 0 -0.5em;
    position: absolute;
    top: 50%;
    width: 1em;
    border-radius: 0.35em;
}

.poptrox-popup .loader:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.poptrox-popup .loader:before {
    content: '\f1ce';
}

.poptrox-popup .caption {
background: #fff;
bottom: 0;
cursor: default;
font-size: 0.9em;
height: 3em;
left: 0;
line-height: 2.8em;
position: absolute;
text-align: center;
width: 100%;
z-index: 1;
}

.poptrox-popup .nav-next,
.poptrox-popup .nav-previous {
text-decoration: none;
-moz-transition: opacity 0.2s ease-in-out;
-webkit-transition: opacity 0.2s ease-in-out;
-ms-transition: opacity 0.2s ease-in-out;
transition: opacity 0.2s ease-in-out;
-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
background: rgba(0, 0, 0, 0.01);
cursor: pointer;
height: 100%;
opacity: 0;
position: absolute;
top: 0;
width: 50%;
}

.poptrox-popup .nav-next:before,
.poptrox-popup .nav-previous:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.poptrox-popup .nav-next:before,
.poptrox-popup .nav-previous:before {
    color: #fff;
    font-size: 2.5em;
    height: 1em;
    line-height: 1em;
    margin-top: -0.75em;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 1.5em;
}

.poptrox-popup .nav-next {
right: 0;
}

.poptrox-popup .nav-next:before {
    content: '\f105';
    right: 0;
}

.poptrox-popup .nav-previous {
left: 0;
}

.poptrox-popup .nav-previous:before {
    content: '\f104';
    left: 0;
}

.poptrox-popup .closer {
text-decoration: none;
-moz-transition: opacity 0.2s ease-in-out;
-webkit-transition: opacity 0.2s ease-in-out;
-ms-transition: opacity 0.2s ease-in-out;
transition: opacity 0.2s ease-in-out;
-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
color: #fff;
height: 4em;
line-height: 4em;
opacity: 0;
position: absolute;
right: 0;
text-align: center;
top: 0;
width: 4em;
z-index: 2;
}

.poptrox-popup .closer:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.poptrox-popup .closer:before {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    border-radius: 100%;
    border: solid 3px rgba(255, 255, 255, 0.5);
    content: '\f00d';
    display: block;
    font-size: 1em;
    height: 1.75em;
    left: 50%;
    line-height: 1.75em;
    margin: -0.875em 0 0 -0.875em;
    position: absolute;
    top: 50%;
    width: 1.75em;
}

.poptrox-popup:hover .nav-next,
.poptrox-popup:hover .nav-previous {
opacity: 0.5;
}

.poptrox-popup:hover .nav-next:hover,
.poptrox-popup:hover .nav-previous:hover {
    opacity: 1.0;
}

.poptrox-popup:hover .closer {
opacity: 0.5;
}

.poptrox-popup:hover .closer:hover {
    opacity: 1.0;
}

body.is-touch .poptrox-popup .nav-next,
	body.is-touch .poptrox-popup .nav-previous,
	body.is-touch .poptrox-popup .closer {
		opacity: 1.0 !important;
	}
    
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.search {
    text-align: center;
    margin-top: 60px;

}
.search input {
    line-height: 0;
    height: 1.75em;
}