{% load i18n %}
    {% if page_obj.has_previous %}
        <a href="?{{ page_obj.previous_page_number.querystring }}">&lsaquo;&lsaquo; </a>
    {% else %}
        <a class="disabled">&lsaquo;&lsaquo;</a>
    {% endif %}
    {% for page in page_obj.pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <a  class="active">{{ page }}</a>
            {% else %}
                <a href="?{{ page.querystring }}">{{ page }}</a>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="?{{ page_obj.next_page_number.querystring }}">&rsaquo;&rsaquo;</a>
    {% else %}
        <a class="disabled">&rsaquo;&rsaquo;</a>
    {% endif %}