﻿<!DOCTYPE HTML>
<html>
<head>
<title>Памятники</title>
<meta charset="utf-8">
{% load staticfiles %}
<!--[if lte IE 8]>
<link rel="stylesheet" href="{% static "css/ie8.css" %}">
<![endif]-->
<!--[if lte IE 8]>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
<![endif]-->
<script src={% static "js/jquery-1.9.1.min.js" %}></script>
<script src={% static "css/5grid/init.js" %}></script>
<script src={% static "js/jquery.formerize-1.1.js" %}></script>
<script src={% static "js/init.js" %}></script>
<script src={% static "js/jquery.poptrox.min.js" %}></script>
<script src={% static "js/skel.min.js" %}></script>
<script src={% static "js/util.js" %}></script>
<script src={% static "js/main.js" %}></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<link rel="stylesheet" href="{% static 'css/leaflet_plugins/Control.FullScreen.css' %}" />
<script type="text/javascript" src="{% static 'js/leaflet_map/leaflet_plugins/Control.FullScreen.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/leaflet_plugins/L.Control.Sidebar.css' %}" />
<script type="text/javascript" src="{% static 'js/leaflet_map/leaflet_plugins/L.Control.Sidebar.js' %}"></script>
<link href='http://fonts.googleapis.com/css?family=Kurale' rel='stylesheet' type='text/css'>
{% block head %}{% endblock %}

</head>
<body class="homepage">
<div id="wrapper">
  
  {% block content %}{% endblock %}
  {% block footer %}
    <div id="footer">
        <ul class="links">
            <li><a href="#" class="icon icon-twitter"></a> </li>
            <li><a href="#" class="icon icon-dribbble"></a></li>
            <li><a href="#" class="icon icon-google"></a></li>
            <li><a href="#" class="icon icon-linkedin"></a></li>
            <li><a href="#" class="icon icon-tumblr"></a></li>
            <li><a href="#" class="icon icon-mail"></a></li>
        </ul>
    </div>
    {% endblock %}
</div>
</body>
</html>