﻿{% extends "points/base.html" %}
{% block head%}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/map.css' %}" />
{% endblock %}
{% block content %}
  <nav id="nav"> <a href="#me" class="icon icon-notify active"><span>Карта</span></a> <a href="monuments" class="icon icon-folder"><span>Памятники</span></a> <a href="#monument" class="icon icon-file"><span>Памятник</span></a></nav>
    <div id="main">
       
       <article class="panel">
        <div>
            <div class="col-lg-12">
              <div class="clearfix"></div>
              <p><i class="fa fa-plus-square-o"></i> <a href='#' id="filter_control" style="text-decoration:none; color:inherit;">Show Filter</a></p>
              <div id="map" class="thumbnail"> </div>
            </div>
        </div>
        </article>
        <div id="sidebar">
          <h4>Фильтр</h4><hr>
        <p><strong>Район:</strong></p>
          <select class="form-control" id="select_borough" onchange="getResult()">
              <option value="all">Показать все</option>
              <option disabled>---------------------------------------</option>         
              <option value="1">советский</option>
              <option value="2">железнодорожный</option>
              <option value="3">ленинский</option>
              <option value="4">пролетарский</option>
              <option value="5">первомайский</option>
              <option value="6">ворошиловский</option>
              <option value="7">кировский</option>
              <option value="8">октябрьский</option>
          </select>
        <br>  
        <p><strong>Время основания:</strong></p>
          <select class="form-control" id="select_time_facilities" onchange="getResult()">
              <option value="all">Показать все</option>
              <option disabled>---------------------------------------</option>         
              <option value="1">до XVII века</option>
              <option value="2">XVII век</option>
              <option value="3">XVIII век</option>
              <option value="4">конец XVIII века - 1812 год (Классицизм)</option>
              <option value="5">1812 - 1850 годы (Эклектика)</option>
              <option value="6">1900 - 1917 годы (Модерн)</option>
              <option value="7">Советская архитектура 1917 - 1930 годы</option>
              <option value="8">Советская архитектура 1930 - 1950 годы</option>
          </select>
        <br> 
         <p><strong>Категория значения:</strong></p>
          <select class="form-control" id="select_values" onchange="getResult()">
              <option value="all">Показать все</option>
              <option disabled>---------------------------------------</option>         
              <option value="1">федерального значения</option>
              <option value="2">регионального значения</option>
              <option value="3">местного(муниципального) значения</option>
          </select>
           <br>  
         <p><strong>Вид объектов:</strong></p>
          <select class="form-control" id="select_type" onchange="getResult()">
              <option value="all">Показать все</option>
              <option disabled>---------------------------------------</option>         
              <option value="1">памятник</option>
              <option value="2">ансамбль</option>
              <option value="3">достопримечательное место</option>
          </select>
          <br>  
         <p><strong>Стиль:</strong></p>
          <select class="form-control" id="select_styles" onchange="getResult()">
              <option value="all">Показать все</option>
              <option disabled>---------------------------------------</option>         
              <option value="1">барокко</option>
              <option value="2">рококо</option>
              <option value="3">классицизм</option>
              <option value="4">романтизм</option>
              <option value="5">эклектика</option>
              <option value="6">модерн</option>
              <option value="7">функционализм</option>
              <option value="8">конструктивизм</option>
          </select>
          <br>  
         <p><strong>Принадлежность:</strong></p>
          <select class="form-control" id="select_accessory" onchange="getResult()">
              <option value="all">Показать все</option>
              <option disabled>---------------------------------------</option>         
              <option value="1">памятник  археологии</option>
              <option value="2">памятник  истории</option>
              <option value="3">памятник градостроительства и архитектуры</option>
              <option value="4">памятник искусства</option>
          </select>


           {% load staticfiles %}
              <script src="{% static 'js/leaflet_map/map.js' %}"></script>
        </div>  
        
    </div>
    
    {% endblock %}