﻿{% extends "points/base.html" %}
{% block content %}
  <nav id="nav"> <a href="/" class="icon icon-notify"><span>Карта</span></a> <a href="/monuments/" class="icon icon-folder active"><span>Памятники</span></a> <a href="#monument" class="icon icon-file"><span>Памятник</span></a></nav>
    <div id="main">
        <article id="work" class="panel">
            <header>
                <h2>Памятники</h2>
            </header>
           <form action="/search/" class="search" method="get">
                <input type="text" name="q">
                <input type="submit" value="Search">
           </form>
			<div class="row">              
                {% for object in object_list %}
                    <article class="6u 12u$(xsmall) work-item">
                        <div class="img">
                            <a href="/monument/{{ object.id }}/" class="image fit thumb">
                                <img src="{{object.photo.url}}" />
                            </a>
                            <p>{{object.name}}</p>
                            <p>{{object.location }}</p>
                            <p>{{object.date_construction }}</p>
                        </div>
                    </article>
                {% endfor %}
                {% if points %}
                {% for point in points %}
                    <article class="6u 12u$(xsmall) work-item">
                        <div class="img">
                            <a href="/monument/{{ point.name }}/" class="image fit thumb">
                                <img src="{{point.photo.url}}" />
                            </a>
                            <p>{{point.name}}</p>
                            <p>{{point.location }}</p>
                            <p>{{point.date_construction }}</p>
                        </div>
                    </article>
                    {% endfor %}
                {% else %}
                    <p></p>
                {% endif %}
                <div class="pagination">
                    <div class="pages">
                {% include '_pagination.html' %}
                    </div>
                </div>
            </div>
        </article>
    </div>
    {% endblock %}