﻿{% extends "points/base.html" %}
{% block head%}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/map1.css' %}" />
{% endblock %}
{% block content %}
  </style>
  <nav id="nav"> <a href="/" class="icon icon-notify"><span>Карта</span></a> <a href="/monuments" class="icon icon-folder activate"><span>Памятники</span></a> <a href="#monument" class="icon icon-file active"><span>Памятник</span></a></nav>
    <div id="main">
        
        <article id="monument" class="panel">
            <header>
                <h2>{{point.name}}</h2>
            </header>
    <div id="foto">
                <div class="6u 12u$(xsmall) work-item">
                        <div class="img">
                            <a href="{{point.photo.url}}" class="image fit thumb">
                                <img src="{{point.photo.url}}" />
                            </a>
                        <h3>Нынешний вид</h3>
                        </div> 
                        <p>Адрес: {{point.location }}</p>
                        <p>Год: {{point.date_construction }}</p>
                        <p>Автор: {{point.author }}</p> 
                        <p>Район: {{point.borough }}</p> 
                        <p>Категория значения: {{point.values }}</p> 
                        <p>Стиль: {{point.style }}</p> 
                        <p>Исторические сведения: {{point.history }}</p>
                        </br>
                        <div id="map"></div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
                <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
                <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
                 <script type="text/javascript">
                    $(document).ready(function () {
                    init_map();
                    add_marker();
                });
                var map;

                function init_map() {
                 var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                        osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                        osm = L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib});
                        map = new L.Map('map', {layers: [osm], center: new L.LatLng(47.2313500, 39.7232800), zoom: 13}),
                        drawnItems = L.featureGroup().addTo(map);
                } 
                
                    function add_marker() {
                    var points = [        
                        ["{{point.name}}", 
                        parseFloat("{{point.geometry.y}}".replace(',', '.')),
                        parseFloat("{{point.geometry.x}}".replace(',', '.')),
                        ],
                    
                    ];

                    var marker = [];
                    var i;
                    for (i = 0; i < points.length; i++) {
                        var html = "<strong>Name:</strong> "+ points[i][0]
                                    
                        marker[i] = new L.Marker([points[i][1], points[i][2]], {
                        });
                        marker[i].addTo(map);
                        L.marker([points[i][1], points[i][2]]).addTo(map)
                        .bindPopup(html)
                        .openPopup();
                    };
                }
                </script>
                        
                </div>
                <div class="6u 12u$(xsmall) work-item">
                        <div class="img">
                            <a href="{{point.photo_old.url}}" class="image fit thumb">
                                <img src="{{point.photo_old.url}}" />
                            </a>
                        <h3>Первоначальный вид</h3>
                        </div> 
                </div>
                        
                
                
                
        </article>
    </div>
    </div>
    {% endblock %}